:root {
    --bg-color: #010201;
    --text-main-color: #fff;
    --main-color: #A88D44;
    --main-active-color: #94792e;
    --info-bg-inactive: rgba(0, 0, 0, 0.8);
    --info-bg: rgba(0, 0, 0, 0.8);
}
